.container,
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home_link {
  text-decoration: none;
}

.app_header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  min-height: 4.75rem;
  transition: margin-left 0.25s ease-in-out;
  margin-left: 0;
}

.nav_toggle {
  display: none;
}

.icon {
  border-radius: 4px;
  display: flex;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  width: 1rem;
}

.app_name {
  text-wrap-mode: nowrap;
  overflow: hidden;
  width: 20rem;
  transition: width 0.25s ease-in-out;
}

.footer {
  margin-top: auto;
}

@media (min-width: 1000px) {
  .collapsed .app_name {
    width: 0;
  }

  .collapsed .app_header {
    margin-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .app_header {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .nav_toggle {
    cursor: pointer;
    display: block;
  }

  .content {
    display: none;
  }

  .content.visible {
    display: block;
  }
}
