.container {
  background-color: var(--color-form-input-p75);
  border: 1px solid var(--color-form-input-n25);
  border-radius: 4px;
  display: flex;
  flex: 1;
}

.text_input {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: var(--color-form-input-n87);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
}

.disabled {
  background-color: var(--color-form-input-n12);
  color: var(--color-form-input-n37);
  cursor: not-allowed;
}

.prefix {
  background: var(--color-form-input-p12);
  border-radius: 4px 0 0 4px;
  border-right: 1px solid var(--color-form-input-n25);
  color: var(--color-form-input-n75);
  padding: 0.5rem;
}

.valid {
  border-color: var(--color-highlight-green);
}

.invalid {
  border-color: var(--color-highlight-red-n25);
}
